<header>
  <h2>Les Directives personnalisées</h2>
</header>


<p appHighlight>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium delectus est et eum hic iste laudantium odit,
  perferendis, possimus praesentium saepe soluta suscipit voluptatibus. Ducimus minus optio rem repellat totam.</p>

<p appHighlight="pink">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab, adipisci consequatur deleniti dolore, doloribus eum
  fugiat impedit incidunt neque nobis nulla quas, quasi quibusdam quos rerum saepe sed voluptatem?</p>

<p appHighlight="black" [color]=" 'limegreen' ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti, eaque enim eum iure iusto laboriosam,
  nostrum perferendis porro repellat rerum saepe vero voluptatibus. Ea inventore necessitatibus rerum voluptas
  voluptates.</p>
