<div class="container-fluid">
  <header>
    <h1>Formation Angular 13</h1>
  </header>
  <app-profil></app-profil>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/presentation">Présentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todo">Exercice Todo List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/filtre">Les filtres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/directive">Les directives</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/locale">Les locales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/custom/filter">Les filtres personnalisés</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/custom/directive">Les Directives personnalisées</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/form">Template Driven Forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/providers">Les services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/observable">Les observables</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/authentication">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/parameters">Paramètres d'url</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">Liste des utilisateurs</a>
      </li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <div class="row">
    <div class="col">
      <p class="h4">Address</p>
      <app-address [address]="address"></app-address>
    </div>
  </div>
  <footer>
    <hr />
    <p class="text-center">Angular 13 - Octobre 2022 - Dawan Lille</p>
  </footer>
</div>
