<header>
  <h2>Les Locales ({{ locale }})</h2>

  <div class="btn-group btn-group-sm my-3 me-3">
    <button class="btn btn-outline-primary" (click)="locale = 'en'">Anglais</button>
    <button class="btn btn-outline-primary" (click)="locale = 'fr'">Français</button>
  </div>

  <div class="btn-group btn-group-sm">
    <button class="btn btn-outline-primary" (click)="devise = 'USD'">Dollar</button>
    <button class="btn btn-outline-primary" (click)="devise = 'EUR'">Euro</button>
  </div>

  <p>Date: {{ date | date: 'full': undefined: locale }}</p>

  <p>{{ 12345678.90 | currency: devise: 'symbol': undefined: locale }}</p>

  <p>{{ 999.99 | currency }}</p>

</header>

